In [1]:
import numpy as np
import pandas as pd

# 다음 보기와 같이 0이상 10미만의 3x3 모양의 정수 난수를 생성하고 각 행의 첫 번째 값으로 정렬하시오. (5점)

In [2]:
np.random.seed(5)
array = np.random.randint(10,size = (3,3))
array[np.argsort(array[:,0])]

array([[0, 9, 8],
       [3, 6, 6],
       [4, 7, 0]])

# 8x8 모양의 정수 0으로 채워진 행렬을 만들고 다음과 인덱싱과 슬라이싱일 이용하여 다음과 같은 체크보드 패턴을 만드시오. (10점)

In [3]:
zero = np.zeros((8,8), dtype = int)
# 0~7
zero[0][[1,3,5,7]] = 1
zero[2][[1,3,5,7]] = 1
zero[4][[1,3,5,7]] = 1
zero[6][[1,3,5,7]] = 1
zero[1][[0,2,4,6]] = 1
zero[3][[0,2,4,6]] = 1
zero[5][[0,2,4,6]] = 1
zero[7][[0,2,4,6]] = 1

zero

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])

# [0,1) 사이의 값을 갖는 크기 10의 랜덤 벡터를 만들고 최대값을 0으로 바꾸는 코드를 만드시오. (5점)

In [4]:
random = np.random.rand(10)
print(random)
random[np.where(np.max(random)== random)] = 0
random

[0.51841799 0.2968005  0.18772123 0.08074127 0.7384403  0.44130922
 0.15830987 0.87993703 0.27408646 0.41423502]

array([0.51841799, 0.2968005 , 0.18772123, 0.08074127, 0.7384403 ,
       0.44130922, 0.15830987, 0.        , 0.27408646, 0.41423502])

# 월드컵 출전선수 골 기록 데이터 분석 (30점)
- 데이터 파일: worldcupgoals.csv

In [5]:
worldcup = pd.read_csv('./worldcupgoals.csv')

In [6]:
worldcup.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

## 주어진 전체 기간의 각 나라별 골 득점수 상위 5개 국가와 그 득점수를 출력하시오

In [7]:
worldcup.groupby('Country')['Goals'].sum().sort_values(ascending=False).head()

Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115
Name: Goals, dtype: int64

## 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 출력하시오

In [8]:
worldcup.columns

Index(['Player', 'Goals', 'Years', 'Country'], dtype='object')

In [9]:
worldcup.groupby('Country')['Player'].count().sort_values(ascending=False).head()

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
Name: Player, dtype: int64

## Years 컬럼은 년도 -년도 형식으로 구성 되어있고, 각 년도는 4자리 숫자이다. 각 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇 건인지 출력하시오.

In [10]:
worldcup['Years'].unique()

array(['2002-2006-2010-2014', '1998-2002-2006', '1970-1974', '1958',
       '1958-1962-1966-1970', '1990-1994-1998', '1954', '1994-1998-2002',
       '1986-1990', '2010-2014', '1954-1958', '1970-1978-1982',
       '1974-1978-1982', '1950', '1966-1970-1974', '1958-1962',
       '1978-1982-1986', '1978-1982', '1998-2002', '1966',
       '2006-2010-2014', '1982-1986-1990-1994', '1930', '1934-1938',
       '1986-1990-1994', '1950-1954', '1954-1958-1962', '1974-1978',
       '2006-2010-2014-2018', '2010-2014-2018', '1994-1998', '2014-2018',
       '1970-1974-1978', '2014', '2018', '1998-2002-2006-2010',
       '1962-1966-1970', '1986-1990-1994-1998', '1990', '1994',
       '2002-2010', '1958-1962-1966', '1990-1994', '0', '1966-1970',
       '2006-2010', '1938', '2002-2006-2010', '1990-1994-2002', '1978',
       '1982-1986', '1982-1986-1990', '1998', '1962-1966', '1986',
       '1974-1982', '1934', '1954-1962', '2002-2006', '2010',
       '1994-2002-2006', '1970', '1962', '1982', '2002',
       '1962-1966-1970-1974', '1998-2002-2010', '1974',
       '1994-1998-2002-2006', '1990-1998-2002', '1990-1998', '1930-1934',
       '1970-1982', '1930-1934-1938', '2006', '2006-2014', '1986-1994',
       '2002-2006-2014', '1986-1998', '1950-1954-1958', '1998-2006',
       '1990-1994-1998-2002', '1962-1970-1974', '1978-1986',
       '1954-1958-1962-1966', '1962-1970', '1982-1990', '1930-1938',
       '1990-2002', '1978-1986-1994', '1970-1978', '1994-2002',
       '1966-1978', '1950-1958', '1938-1950'], dtype=object)

In [11]:
import re
p = re.compile('....')
k = []
for i, year in enumerate( worldcup['Years'].unique()):
    print (i ,p.search(year))
    if p.search(year) == None:
        print(f'{i} 번째가 매치되지 않습니다')
        k.append(i)

#매치되는거 94개

0 <re.Match object; span=(0, 4), match='2002'>
1 <re.Match object; span=(0, 4), match='1998'>
2 <re.Match object; span=(0, 4), match='1970'>
3 <re.Match object; span=(0, 4), match='1958'>
4 <re.Match object; span=(0, 4), match='1958'>
5 <re.Match object; span=(0, 4), match='1990'>
6 <re.Match object; span=(0, 4), match='1954'>
7 <re.Match object; span=(0, 4), match='1994'>
8 <re.Match object; span=(0, 4), match='1986'>
9 <re.Match object; span=(0, 4), match='2010'>
10 <re.Match object; span=(0, 4), match='1954'>
11 <re.Match object; span=(0, 4), match='1970'>
12 <re.Match object; span=(0, 4), match='1974'>
13 <re.Match object; span=(0, 4), match='1950'>
14 <re.Match object; span=(0, 4), match='1966'>
15 <re.Match object; span=(0, 4), match='1958'>
16 <re.Match object; span=(0, 4), match='1978'>
17 <re.Match object; span=(0, 4), match='1978'>
18 <re.Match object; span=(0, 4), match='1998'>
19 <re.Match object; span=(0, 4), match='1966'>
20 <re.Match object; span=(0, 4), match='2006'>
21 <re.Match object; span=(0, 4), match='1982'>
22 <re.Match object; span=(0, 4), match='1930'>
23 <re.Match object; span=(0, 4), match='1934'>
24 <re.Match object; span=(0, 4), match='1986'>
25 <re.Match object; span=(0, 4), match='1950'>
26 <re.Match object; span=(0, 4), match='1954'>
27 <re.Match object; span=(0, 4), match='1974'>
28 <re.Match object; span=(0, 4), match='2006'>
29 <re.Match object; span=(0, 4), match='2010'>
30 <re.Match object; span=(0, 4), match='1994'>
31 <re.Match object; span=(0, 4), match='2014'>
32 <re.Match object; span=(0, 4), match='1970'>
33 <re.Match object; span=(0, 4), match='2014'>
34 <re.Match object; span=(0, 4), match='2018'>
35 <re.Match object; span=(0, 4), match='1998'>
36 <re.Match object; span=(0, 4), match='1962'>
37 <re.Match object; span=(0, 4), match='1986'>
38 <re.Match object; span=(0, 4), match='1990'>
39 <re.Match object; span=(0, 4), match='1994'>
40 <re.Match object; span=(0, 4), match='2002'>
41 <re.Match object; span=(0, 4), match='1958'>
42 <re.Match object; span=(0, 4), match='1990'>
43 None
43 번째가 매치되지 않습니다
44 <re.Match object; span=(0, 4), match='1966'>
45 <re.Match object; span=(0, 4), match='2006'>
46 <re.Match object; span=(0, 4), match='1938'>
47 <re.Match object; span=(0, 4), match='2002'>
48 <re.Match object; span=(0, 4), match='1990'>
49 <re.Match object; span=(0, 4), match='1978'>
50 <re.Match object; span=(0, 4), match='1982'>
51 <re.Match object; span=(0, 4), match='1982'>
52 <re.Match object; span=(0, 4), match='1998'>
53 <re.Match object; span=(0, 4), match='1962'>
54 <re.Match object; span=(0, 4), match='1986'>
55 <re.Match object; span=(0, 4), match='1974'>
56 <re.Match object; span=(0, 4), match='1934'>
57 <re.Match object; span=(0, 4), match='1954'>
58 <re.Match object; span=(0, 4), match='2002'>
59 <re.Match object; span=(0, 4), match='2010'>
60 <re.Match object; span=(0, 4), match='1994'>
61 <re.Match object; span=(0, 4), match='1970'>
62 <re.Match object; span=(0, 4), match='1962'>
63 <re.Match object; span=(0, 4), match='1982'>
64 <re.Match object; span=(0, 4), match='2002'>
65 <re.Match object; span=(0, 4), match='1962'>
66 <re.Match object; span=(0, 4), match='1998'>
67 <re.Match object; span=(0, 4), match='1974'>
68 <re.Match object; span=(0, 4), match='1994'>
69 <re.Match object; span=(0, 4), match='1990'>
70 <re.Match object; span=(0, 4), match='1990'>
71 <re.Match object; span=(0, 4), match='1930'>
72 <re.Match object; span=(0, 4), match='1970'>
73 <re.Match object; span=(0, 4), match='1930'>
74 <re.Match object; span=(0, 4), match='2006'>
75 <re.Match object; span=(0, 4), match='2006'>
76 <re.Match object; span=(0, 4), match='1986'>
77 <re.Match object; span=(0, 4), match='2002'>
78 <re.Match object; span=(0, 4), match='1986'>
79 <re.Match object; span=(0, 4), match='1950'>
80 <re.Match object; span=(0, 4), match='1998'>
81 <re.Match object; span=(0, 4), match='1990'>
82 <re.Match object; span=(0, 4), match='1962'>
83 <re.Match object; span=(0, 4), match='1978'>
84 <re.Match object; span=(0, 4), match='1954'>
85 <re.Match object; span=(0, 4), match='1962'>
86 <re.Match object; span=(0, 4), match='1982'>
87 <re.Match object; span=(0, 4), match='1930'>
88 <re.Match object; span=(0, 4), match='1990'>
89 <re.Match object; span=(0, 4), match='1978'>
90 <re.Match object; span=(0, 4), match='1970'>
91 <re.Match object; span=(0, 4), match='1994'>
92 <re.Match object; span=(0, 4), match='1966'>
93 <re.Match object; span=(0, 4), match='1950'>
94 <re.Match object; span=(0, 4), match='1938'>

In [12]:
k

[43]

In [13]:
worldcup['Years'].unique()[43]

'0'

In [14]:
len(worldcup['Years'].unique())

# 매치 안되는거 오직 한개 --> 0

95

- 매치 안되는거 오직 한개 --> 0

In [15]:
worldcup.dtypes

Player     object
Goals       int64
Years      object
Country    object
dtype: object

In [16]:
np.sum(worldcup['Years'] == '0')

45

## 3번 문제에서 발생한 예외 케이스(년도 표기가 4자리 숫자가 아닌 경우)를 제외한 새로운 데이터 프레임을 생성하고 전체 데이터 행의 숫자를 출력하시오.

In [17]:
worldcup['Years'][worldcup['Years'] == '0'] = None

C:\Users\User\AppData\Local\Temp\ipykernel_4252\2604866588.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  worldcup['Years'][worldcup['Years'] == '0'] = None

In [18]:
worldcup['Years'].unique()

array(['2002-2006-2010-2014', '1998-2002-2006', '1970-1974', '1958',
       '1958-1962-1966-1970', '1990-1994-1998', '1954', '1994-1998-2002',
       '1986-1990', '2010-2014', '1954-1958', '1970-1978-1982',
       '1974-1978-1982', '1950', '1966-1970-1974', '1958-1962',
       '1978-1982-1986', '1978-1982', '1998-2002', '1966',
       '2006-2010-2014', '1982-1986-1990-1994', '1930', '1934-1938',
       '1986-1990-1994', '1950-1954', '1954-1958-1962', '1974-1978',
       '2006-2010-2014-2018', '2010-2014-2018', '1994-1998', '2014-2018',
       '1970-1974-1978', '2014', '2018', '1998-2002-2006-2010',
       '1962-1966-1970', '1986-1990-1994-1998', '1990', '1994',
       '2002-2010', '1958-1962-1966', '1990-1994', None, '1966-1970',
       '2006-2010', '1938', '2002-2006-2010', '1990-1994-2002', '1978',
       '1982-1986', '1982-1986-1990', '1998', '1962-1966', '1986',
       '1974-1982', '1934', '1954-1962', '2002-2006', '2010',
       '1994-2002-2006', '1970', '1962', '1982', '2002',
       '1962-1966-1970-1974', '1998-2002-2010', '1974',
       '1994-1998-2002-2006', '1990-1998-2002', '1990-1998', '1930-1934',
       '1970-1982', '1930-1934-1938', '2006', '2006-2014', '1986-1994',
       '2002-2006-2014', '1986-1998', '1950-1954-1958', '1998-2006',
       '1990-1994-1998-2002', '1962-1970-1974', '1978-1986',
       '1954-1958-1962-1966', '1962-1970', '1982-1990', '1930-1938',
       '1990-2002', '1978-1986-1994', '1970-1978', '1994-2002',
       '1966-1978', '1950-1958', '1938-1950'], dtype=object)

In [19]:
np.sum(worldcup['Years'].isna())

45

In [20]:
np.sum(worldcup.isna())

Player      0
Goals       0
Years      45
Country     0
dtype: int64

In [21]:
worldcup = worldcup.dropna()

In [22]:
len(worldcup)

1250

## 월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하시오.

In [23]:
worldcup['LenCup']= worldcup['Years'].str.count('-')+1

In [24]:
worldcup.head()

           Player  Goals                Years  Country  LenCup
0  Miroslav Klose     16  2002-2006-2010-2014  Germany       4
1         Ronaldo     15       1998-2002-2006   Brazil       3
2     Gerd Muller     14            1970-1974  Germany       2
3   Just Fontaine     13                 1958   France       1
4            Pele     12  1958-1962-1966-1970   Brazil       4

In [25]:
np.sum(worldcup['LenCup']==4)

16

## yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하시오.

In [26]:
np.sum(worldcup[worldcup['Country']=='Yugoslavia']['LenCup'] ==2)

7

## 2002년도에 출전한 전체 선수 수를 구하시오.

In [27]:
np.sum(worldcup['Years'].str.find('2002') != -1)
#156 명

156

## 월드컵 출전 횟수가 1회 뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구이며 몇 골을 넣었는지 구하시오

In [28]:
worldcup[worldcup['LenCup']==1].sort_values('Goals', ascending = False).head(1)[['Player','Goals']]
# Just Fontaine, 13

          Player  Goals
3  Just Fontaine     13

#  전 세계 행복도 지수 데이터 분석 (30점)

In [29]:
happiness = pd.read_csv('./happiness.csv')

In [30]:
happiness.dtypes

행복랭킹          int64
나라명          object
점수          float64
상대GDP       float64
사회적지원       float64
행복기대치       float64
선택의 자유도     float64
관대함         float64
부패에 대한인식    float64
년도            int64
dtype: object

In [31]:
happiness.shape

(312, 10)

In [32]:
happiness.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

## 각 연도별 행복랭킹 10위안에 드는 나라의 행복점수의 평균을 구하시오.

- 방법 1

In [33]:
happiness[happiness['행복랭킹']<=10].groupby('년도')[['점수']].mean()

          점수
년도
2018  7.4442
2019  7.4559

- 방법 2

In [34]:
for i in happiness['년도'].unique():
    mean = happiness.groupby('년도').get_group(i).sort_values('행복랭킹').head(10)['점수'].mean()
    print(f'{i}년도 상위 10위 행복지수 평균 :{mean:.2f}')

2019년도 상위 10위 행복지수 평균 :7.46
2018년도 상위 10위 행복지수 평균 :7.44

## 각 연도의 행복랭킹 50위 이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하시오.

In [35]:
happiness[happiness['행복랭킹']<=50].groupby(['년도','나라명'])[['점수']].mean()

                              점수
년도   나라명
2018 Argentina             6.388
     Australia             7.272
     Austria               7.139
     Bahrain               6.105
     Belgium               6.927
...                          ...
2019 United Arab Emirates  6.825
     United Kingdom        7.054
     United States         6.892
     Uruguay               6.293
     Uzbekistan            6.174

[100 rows x 1 columns]

## 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하시오

- 방법 1

In [36]:
for i in happiness['년도'].unique():
    mean = happiness[happiness['년도']==i].sort_values('점수').head()['점수'].mean()
    print(f'{i}년도 하위 5개 국가 평균 행복점수:{mean:.2f}')

2019년도 하위 5개 국가 평균 행복점수:3.14
2018년도 하위 5개 국가 평균 행복점수:3.18

- 방법 2

In [37]:
for i in happiness['년도'].unique():
    mean = happiness.groupby('년도').get_group(i).sort_values('점수').head(5)['점수'].mean()
    print(f'{i}년도 하위 5개 국가 평균 행복점수:{mean:.2f}')

2019년도 하위 5개 국가 평균 행복점수:3.14
2018년도 하위 5개 국가 평균 행복점수:3.18

## 2019년 데이터를 추출하고 해당 데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이 값을 출력하시오

In [38]:
happiness.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [39]:
happiness_2019 = happiness[happiness['년도'] == 2019]

In [40]:
print('2019년 상대 GDP 평균 이상의 나라들 행복점수 평균')
a = happiness_2019[happiness_2019['상대GDP'] >= happiness_2019['상대GDP'].mean()] ['점수'].mean()
print(f'{a:.2f}')

2019년 상대 GDP 평균 이상의 나라들 행복점수 평균
6.01

In [41]:
print('2019년 상대 GDP 평균 이하의 나라들 행복점수 평균')
b = happiness_2019[happiness_2019['상대GDP'] <= happiness_2019['상대GDP'].mean()]['점수'].mean()
print(f'{b:.2f}')

2019년 상대 GDP 평균 이하의 나라들 행복점수 평균
4.62

## 각 년도의 부패에 대한인식을 내림차순 정렬했을 때 상위 20개 국가의 부패에 대한인식의 평균을 구하시오

- 방법1

In [42]:
for i in happiness['년도'].unique():
    mean = happiness[happiness['년도']==i].sort_values('부패에 대한인식', ascending = False).head(20)['부패에 대한인식'].mean()
    print(f'{i}년도 상위 20개 국가의 부패에 대한인식의 평균:{mean:.2f}')

2019년도 상위 20개 국가의 부패에 대한인식의 평균:0.32
2018년도 상위 20개 국가의 부패에 대한인식의 평균:0.33

- 방법2

In [43]:
for i in happiness['년도'].unique():
    mean = happiness.groupby('년도').get_group(i).sort_values('부패에 대한인식',ascending=False).head(20)['부패에 대한인식'].mean()
    print(f'{i}년도 상위 20개 국가의 부패에 대한인식의 평균:{mean:.2f}')

2019년도 상위 20개 국가의 부패에 대한인식의 평균:0.32
2018년도 상위 20개 국가의 부패에 대한인식의 평균:0.33

## 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하시오.

In [44]:
Rank_50_2018 =list(happiness[happiness['년도']==2018].head(50)['나라명'])

In [45]:
Rank_50_2019 =list(happiness[happiness['년도']==2019].head(50)['나라명'])

In [46]:
non_include = []
for country in Rank_50_2018:
    if country not in Rank_50_2019:
        non_include.append(country)
print(non_include)
print(len(non_include))

['Malaysia', 'Kuwait', 'Thailand', 'Belize']
4

## 2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [47]:
happiness.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [48]:
happiness_2019 = happiness[happiness['년도']==2019]
happiness_2018 = happiness[happiness['년도']==2018]

In [49]:
happiness_2019.columns = happiness_2019.columns+'2019'

In [50]:
happiness_2019.columns

Index(['행복랭킹2019', '나라명2019', '점수2019', '상대GDP2019', '사회적지원2019', '행복기대치2019',
       '선택의 자유도2019', '관대함2019', '부패에 대한인식2019', '년도2019'],
      dtype='object')

In [51]:
happiness_2018.columns = happiness_2018.columns+'2018'

In [52]:
happiness_2018.columns

Index(['행복랭킹2018', '나라명2018', '점수2018', '상대GDP2018', '사회적지원2018', '행복기대치2018',
       '선택의 자유도2018', '관대함2018', '부패에 대한인식2018', '년도2018'],
      dtype='object')

In [53]:
happiness_merge = pd.merge(happiness_2019, happiness_2018, left_on= '나라명2019', right_on= '나라명2018')

In [54]:
happiness_merge.head(10)

,행복랭킹2019,나라명2019,점수2019,상대GDP2019,사회적지원2019,행복기대치2019,선택의 자유도2019,관대함2019,부패에 대한인식2019,년도2019,행복랭킹2018,나라명2018,점수2018,상대GDP2018,사회적지원2018,행복기대치2018,선택의 자유도2018,관대함2018,부패에 대한인식2018,년도2018
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019,6,Netherlands,7.441,1.361,1.488,0.878,0.638,0.333,0.295,2018
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343,2019,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373,2019,9,Sweden,7.314,1.355,1.501,0.913,0.659,0.285,0.383,2018
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380,2019,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389,2018
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308,2019,7,Canada,7.328,1.330,1.532,0.896,0.653,0.321,0.291,2018
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226,2019,12,Austria,7.139,1.341,1.504,0.891,0.617,0.242,0.224,2018

In [55]:
happiness_merge['점수차'] = happiness_merge['점수2019'] - happiness_merge['점수2018']

In [56]:
happiness_merge.sort_values('점수차', ascending= False).head(1)[['나라명2019','점수차']]

     나라명2019   점수차
140  Burundi  0.87

# 유튜브 데이터 분석 (20점)

In [57]:
youtube = pd.read_csv('./youtube_rank.csv')

In [58]:
youtube.head()

                         title    category subscriber       view   video
0                    BLACKPINK  [음악/댄스/가수]      5140만  128억5130만    319개
1               Big Hit Labels  [음악/댄스/가수]      4550만  120억8966만    433개
2                    BANGTANTV  [음악/댄스/가수]      3870만   54억7598만  1,319개
3  Boram Tube Vlog [보람튜브 브이로그]    [키즈/어린이]      2650만  110억5288만    223개
4                       SMTOWN  [음악/댄스/가수]      2450만  180억7532만  3,583개

## 컬럼의 이름을 다음과 같이 변경하시오
◼title : 채널명, category : 카테고리, subscriber : 구독자수, view : 조회수, video : 영상개수

In [59]:
youtube.columns = (youtube.columns).map({'title': '채널명', 'category' : '카테고리', 'subscriber' : '구독자수', 'view' : '조회수', 'video' : '영상개수'})

In [60]:
youtube.head()

                           채널명        카테고리   구독자수        조회수    영상개수
0                    BLACKPINK  [음악/댄스/가수]  5140만  128억5130만    319개
1               Big Hit Labels  [음악/댄스/가수]  4550만  120억8966만    433개
2                    BANGTANTV  [음악/댄스/가수]  3870만   54억7598만  1,319개
3  Boram Tube Vlog [보람튜브 브이로그]    [키즈/어린이]  2650만  110억5288만    223개
4                       SMTOWN  [음악/댄스/가수]  2450만  180억7532만  3,583개

## ‘구독자수’ 컬럼과 ‘조회수’ 컬럼의 타입을 정수형(int64)로 변경하시오 (‘억’,’만’ 한글을 삭제 후 숫자로 변경)

In [61]:
youtube.columns[2:4]

Index(['구독자수', '조회수'], dtype='object')

In [62]:
youtube[youtube.columns[2:4]] = youtube[youtube.columns[2:4]].replace('억','', regex=True).replace('만','', regex=True).astype('int64')

In [63]:
youtube.dtypes

채널명     object
카테고리    object
구독자수     int64
조회수      int64
영상개수    object
dtype: object

## ‘영상개수’ 컬럼의 ‘,’와 ‘개’문자를 제거하고 정수형(int32)로 변경하시오

In [64]:
youtube['영상개수'] = youtube['영상개수'].replace(',','', regex=True).replace('개','', regex=True).astype('int64')

In [65]:
youtube.dtypes

채널명     object
카테고리    object
구독자수     int64
조회수      int64
영상개수     int64
dtype: object

## 인기 채널 확인하기
◼’구독자수’와 ‘조회수’가 많은 5개의 채널을 각각 출력하시오.

In [66]:
youtube.head()

                           채널명        카테고리  구독자수      조회수  영상개수
0                    BLACKPINK  [음악/댄스/가수]  5140  1285130   319
1               Big Hit Labels  [음악/댄스/가수]  4550  1208966   433
2                    BANGTANTV  [음악/댄스/가수]  3870   547598  1319
3  Boram Tube Vlog [보람튜브 브이로그]    [키즈/어린이]  2650  1105288   223
4                       SMTOWN  [음악/댄스/가수]  2450  1807532  3583

In [67]:
youtube.sort_values('구독자수', ascending = False).head(5)[['채널명']]

                           채널명
0                    BLACKPINK
1               Big Hit Labels
2                    BANGTANTV
3  Boram Tube Vlog [보람튜브 브이로그]
4                       SMTOWN

In [68]:
youtube.sort_values('조회수', ascending = False).head(5)[['채널명']]

                채널명
4            SMTOWN
6      1theK (원더케이)
8  ArianaGrandeVevo
0         BLACKPINK
1    Big Hit Labels

## ‘카테고리’가 [음악/댄스/가수]인 채널의 ‘구독자수’ 상위 5개를 출력하시오.

In [69]:
youtube[youtube['카테고리'] == '[음악/댄스/가수]'].sort_values('구독자수', ascending = False).head(5)

                     채널명        카테고리  구독자수      조회수  영상개수
0              BLACKPINK  [음악/댄스/가수]  5140  1285130   319
1         Big Hit Labels  [음악/댄스/가수]  4550  1208966   433
2              BANGTANTV  [음악/댄스/가수]  3870   547598  1319
4                 SMTOWN  [음악/댄스/가수]  2450  1807532  3583
5  1MILLION Dance Studio  [음악/댄스/가수]  2230   575358  2205

## ‘카테고리가’ [TV/방송]이거나 [게임]인 채널의 개수를 출력하시오.

In [70]:
np.sum((youtube['카테고리'] == '[TV/방송]') | (youtube['카테고리'] == '[게임]'))

262

In [71]:
youtube['카테고리'].value_counts()

[음악/댄스/가수]     175
[TV/방송]        161
[게임]           101
[키즈/어린이]        95
[음식/요리/레시피]     88
[BJ/인물/연예인]     68
[패션/미용]         57
[뉴스/정치/사회]      56
[미분류]           40
[취미/라이프]        40
[영화/만화/애니]      33
[교육/강의]         23
[애완/반려동물]       20
[스포츠/운동]        12
[IT/기술/컴퓨터]      8
[해외]             6
[주식/경제/부동산]      5
[국내/해외/여행]       5
[회사/오피셜]         4
[자동차]            2
[취미]             1
Name: 카테고리, dtype: int64

## ‘채널명’에 ‘KBS’가 포함된 채널 명을 출력하시오

In [72]:
youtube.columns

Index(['채널명', '카테고리', '구독자수', '조회수', '영상개수'], dtype='object')

In [73]:
youtube['채널명'][youtube['채널명'].str.find('KBS') != -1]

12                    KBS World
46                     KBS Kpop
76                KBS Entertain
101                   KBS Drama
290                    KBS 한국방송
292           KBS Drama Classic
308             KBS HUMAN: 뭉클티비
389                    KBS News
457                  KBS CoolFM
716                       KBS N
777                    KBS KONG
991    KBS Documentary [KBS 다큐]
992                      KBS 교양
Name: 채널명, dtype: object

 ## ‘카테고리’별 ‘구독자수’, ‘조회수’, ‘영상개수’의 평균을 출력하시오.

In [74]:
youtube.groupby('카테고리')[['구독자수','조회수','영상개수']].mean()

                   구독자수            조회수          영상개수
카테고리
[BJ/인물/연예인]  127.441176   41015.485294    837.735294
[IT/기술/컴퓨터]   80.625000   17661.000000   1200.125000
[TV/방송]      121.987578   71848.341615   9025.130435
[게임]          74.356436   45425.346535   2527.009901
[교육/강의]       85.130435   17721.826087    837.913043
[국내/해외/여행]    62.600000   18662.400000    830.200000
[뉴스/정치/사회]   122.696429  119993.553571  42048.089286
[미분류]        142.950000   40903.400000    778.050000
[스포츠/운동]      93.250000   27918.916667   3954.916667
[애완/반려동물]    116.100000   42131.700000    786.250000
[영화/만화/애니]    85.272727   31858.696970    770.181818
[음식/요리/레시피]  161.204545   40738.193182    830.022727
[음악/댄스/가수]   319.520000  109166.845714   1382.051429
[자동차]         49.000000   18561.500000    670.000000
[주식/경제/부동산]   62.600000    6800.000000   1026.400000
[취미/라이프]      97.450000   20431.175000    359.325000
[취미]          56.000000   10615.000000    237.000000
[키즈/어린이]     272.915789  128138.431579   1069.157895
[패션/미용]       82.385965   10437.736842    313.157895
[해외]         159.500000   83825.333333   5043.500000
[회사/오피셜]     220.250000   49661.250000   2084.250000